.reservation {
  background: white;
  border: 2px solid teal;
  border-radius: 10px;
  color: teal;
  height: 45%;
  margin: 10px;
  width: 15%;
}

.reservation button {
  background: teal;
  color: white;
  height: 25px;
  width: 75%;
}