.reservation {
  background: white;
  border: 5px solid teal;
  border-radius: 10px;
  color: teal;
  height: 45%;
  margin: 10px;
  width: 17%;
}

.reservation button {
  background: teal;
  color: white;
  height: 25px;
  margin-bottom: 10px;
  width: 80%;
}