form {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

form input {
  width: 15%;
  padding: 5px;
}

form button {
  background: teal;
  color: white;
  width: 15%;
}

button:hover {
  cursor: pointer;
}